pyrogram==2.0.106
tgcrypto==1.2.5
pyromod==1.5

requests==2.32.3
aiohttp==3.9.5
aiofiles==23.2.1
pytz

yt-dlp==2024.7.25
ffmpeg-python

cloudscraper
beautifulsoup4

PyPDF2
reportlab

motor
pymongo
umongo==3.1.0

python-dotenv

mutagen
pyaes

google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client